.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbar {
  height: 54px;
  background-color: #262626;
  margin-bottom: 1px;
}

.buy-now {
  background-color: #6f9a37;
  color: white;
  margin-right: 20px;
}

.buy-now:hover {
  background-color: #628a2f;
  color: white;
}

.motionart-effect {
  margin-top: 30px;
  margin-left: 8.4%;
}

.button-flex {
  margin-left: 80%;
  margin-top: -3%;
  height: 15px;
}

.button-style {
  background-color: white;
  color: black;
  padding: 12px;
}

.button-style:hover {
  background-color: transparent;
  color: white;
  border-color: white;
}

.transform {
  font-size: 19px;
  margin-left: 2%;
  background: linear-gradient(90deg, #F87516 0%, #5E11FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  width: fit-content;
  color: transparent;
  margin-top: 9%;
  width: 10%;
}

.motion-art-effect {
  font-size: 19px;
  margin-left: 2%;
  color: white;
  width: 11%;
}

.visitor-attention {
  margin-top: -10.7%;
  margin-left: 25%;
  font-size: 70px;
  color: #EEE5FF;
  width: 45%;
}

.visitor-attention-motion-art {
  background: linear-gradient(90deg, #F87516 0%, #5E11FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  width: fit-content;
  color: transparent;
}

.description {
  margin-top: 3%;
  margin-left: 25%;
  color: #EEE5FFBD;
  font-size: 18px;
  width: 45%;
}

.rating {
  margin-top: 5%;
  text-align: center;
  color: #EEE5FF;
  font-size: 22px;
  margin-bottom: 5%;
}

.card-style {
  background-color: transparent;
}

.card-style-1 {
  background-color: transparent;
}

.rating-content {
  margin-top: 20px;
  margin-left: 10px;
  color: #EEE5FFBD;
  position: absolute;
  flex-wrap: wrap;
  display: inline-block;
}

.visitors-heading {
  margin-left: 12px;
  margin-top: 7%;
  color: #EEE5FF;
  font-size: 40px;
  width: 50%;
}

.visitors-description {
  margin-left: 12px;
  margin-top: 2%;
  margin-bottom: 3%;
  color: #EEE5FFBD;
  font-size: 18px;
  width: 58%;
}

.purchase-button {
  background: linear-gradient(90deg, #5E11FF 30%, #F87516 100%);
  border-radius: 20px;
  padding: 20px 35px 20px 35px;
  font-size: 20px;
  width: 25%;
  margin-left: 12px;
  color: white;
}

.purchase-button:hover {
  color: white;
}

.stick {
  margin-left: 80%;
  margin-top: -20%;
  height: 50%;
}

.section {
  margin-top: 7%;
  color: #EEE5FF;
  font-size: 40px;
  width: 50%;
}

.card-section {
  background-image: linear-gradient(180deg, #0D061F 0%, #251E35 100%);
  margin-left: 12px;
  margin-top: 5.5%;
  width: 48%;
  padding: 15px;
  border-radius: 20px;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #FFFFFF10;
}

.section-headline {
  color: #EEE5FF;
  font-size: 25px;
  margin-left: 12px;
}

.section-description {
  color: #EEE5FFBD;
  font-size: 18px;
  margin-left: 12px;
}

.card-page {
  background-image: linear-gradient(180deg, #0D061F 0%, #251E35 100%);
  margin-left: 51%;
  margin-top: -36%;
  width: 48%;
  padding: 15px;
  border-radius: 20px;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #FFFFFF10;
}

.page-headline {
  color: #EEE5FF;
  font-size: 25px;
  margin-left: 12px;
}

.page-description {
  color: #EEE5FFBD;
  font-size: 18px;
  margin-left: 12px;
}

.section-page-img {
  margin-left: 1%;
  margin-top: 3%;
}

.browser {
  background-image: linear-gradient(180deg, #0D061F 0%, #251E35 100%);
  margin-top: 10%;
  border-radius: 20px;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #FFFFFF10;
}

.browser-heading {
  font-size: 25px;
  color: #EEE5FF;
  margin-top: 1%;
  text-align: center;
}

.browser-description {
  font-size: 18px;
  color: #EEE5FFBD;
  margin-top: 2%;
  width: 35%;
}

.browser-img {
  margin-top: 1.5%;
  margin-bottom: 2%;
}

.features-heading {
  margin-top: 6%;
  color: #EEE5FF;
  font-size: 40px;
  width: 45%;
}

.features-description {
  color: #EEE5FFBD;
  font-size: 18px;
  width: 48%;
  margin-top: 2%;
}

.features-card {
  background-image: linear-gradient(180deg, #0D061F 0%, #251E35 100%);
  margin-top: 6%;
  margin-right: 1.33%;
  width: 32%;
  border-radius: 20px;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #FFFFFF10;
}

.features-card-interface {
  background-image: linear-gradient(180deg, #0D061F 0%, #251E35 100%);
  margin-top: 6%;
  margin-right: 1.33%;
  width: 32%;
  border-radius: 20px;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #FFFFFF10;
}

.features-img {
  margin-left: -15%;
}

.features-img-interface {
  margin-left: -15%;
}

.features-img-heading {
  color: #EEE5FF;
  font-size: 25px;
  margin-left: 2.5%;
}

.features-img-description {
  color: #EEE5FFBD;
  font-size: 18px;
  margin-left: 2.5%;
  margin-top: 5%;
}

.container-footer {
  background-image: linear-gradient(90deg, #F87516 0%, #5E11FF 100%);
  margin-top: 15px;
  padding: 20px;
}

.footer {
  margin: 0;
  padding: 10px 0;
  color: #EEE5FFB8;
}

.footer-flex {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: -40px;
}

.footer-flex .btn {
  margin-left: 10px;
}

.footer-color {
  color: #EEE5FFB8;
}

.footer-color:hover {
  color: #EEE5FFB8;
}

.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-radius: 50%;
  pointer-events: none;
  z-index: 1000;
  mix-blend-mode: difference;
}

.smoke-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  z-index: 999;
}

.smoke {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  pointer-events: none;
  opacity: 0.7;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0));
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 720px) and (max-width: 1024px) {
  * {
    transition: all .3s ease;
  }

  .button-style {
    display: none;
  }

  .transform {
    width: 20%;
  }

  .motion-art-effect {
    width: 20%;
  }

  .visitor-attention {
    font-size: 40px;
    margin-top: -19%;
    margin-left: 30%;
    width: 50%;
  }

  .description {
    width: 55%;
    margin-left: 30%;
  }

  .motionart-effect {
    margin-left: 5%;
  }

  .rating {
    margin-top: 15%;
  }

  .card-style {
    width: 50%;
  }

  .card-style-1 {
    width: 50%;
    margin-left: 25%;
  }

  .visitors-heading {
    width: 50%;
    font-size: 30px;
    margin-top: 15%;
  }

  .visitors-description {
    width: 70%;
    font-size: 18px;
  }

  .purchase-button {
    width: 50%;
  }

  .stick {
    margin-top: -40%;
    height: 50%;
    margin-left: 65%;
  }

  .section {
    width: 50%;
    font-size: 30px;
    margin-top: 15%;
  }

  .card-section {
    width: 49%;
    margin-left: 0%;
  }

  .section-page-img {
    width: 100%;
  }

  .card-page {
    width: 49%;
    margin-left: 51%;
    margin-top: -51%;
  }

  .browser-description {
    width: 70%;
  }

  .browser {
    margin-top: 15%;
  }

  .features-heading {
    margin-top: 15%;
    width: 55%;
    font-size: 30px;
  }

  .features-description {
    width: 60%;
  }

  .features-card {
    width: 48%;
  }

  .features-card-interface {
    width: 97%;
    height: 50%;
  }

  .features-img-interface {
    margin-left: -15px;
  }

  .container-footer {
    padding: 20px;
  }

  .footer {
    padding: 10px 0;
  }

  .footer-flex {
    flex-direction: row;
    gap: 10px;
  }
}

@media screen and (max-width: 720px) {
  * {
    transition: all .3s ease;
  }

  body {
    width: auto;
  }

  .motionart-effect {
    margin-left: 0%;
  }

  .transform {
    width: 35%;
    text-align: center;
    margin-left: 30%;
  }

  .motion-art-effect {
    text-align: center;
    width: 49%;
    margin-left: 23%;
  }

  .visitor-attention {
    font-size: 35px;
    text-align: center;
    width: 80%;
    margin-top: 10%;
    margin-left: 7%;
  }

  .description {
    width: 100%;
    margin-left: 0%;
    margin-top: 10%;
    text-align: center;
    font-size: 16px;
  }

  .button-style {
    display: none;
  }

  .rating {
    margin-top: 25%;
    font-size: 22px;
  }

  .card-style {
    justify-content: center;
    width: 100%;
    margin-left: 10%;
  }

  .card-style-1 {
    width: 100%;
    margin-left: 10%;
  }

  .visitors-heading {
    font-size: 25px;
    width: 70%;
    text-align: center;
    margin-left: 15%;
    margin-top: 15%;
  }

  .visitors-description {
    font-size: 16px;
    text-align: center;
    width: 100%;
    margin-left: 0%;
    margin-top: 5%;
  }

  .purchase-button {
    width: 90%;
    margin-top: 10%;
  }

  .stick {
    margin-left: 15%;
    margin-top: 10%;
    font-size: 20px
  }

  .section {
    margin-top: 25%;
    font-size: 25px;
    width: 90%;
  }

  .card-section {
    width: auto;
    margin-left: 0%;
    margin-top: 20%;
  }

  .section-headline {
    font-size: 20px;
    text-align: center;
  }

  .section-description {
    font-size: 16px;
    text-align: center;
    margin-top: 10%;
  }

  .card-page {
    width: auto;
    margin: 10% 0 0 0;
  }

  .page-headline {
    font-size: 20px;
    text-align: center;
  }

  .page-description {
    font-size: 16px;
    text-align: center;
    margin-top: 10%;
  }

  .section-page-img {
    width: auto;
    margin-top: 10%;
  }

  .browser-heading {
    font-size: 20px;
    margin-top: 10%;
    width: 80%;
    margin-left: 10%;
  }

  .browser-description {
    font-size: 18px;
    width: 88%;
    margin-top: 10%;
  }

  .browser-img {
    width: 80%;
    margin-top: 10%;
    margin-bottom: 10%;
  }

  .features-heading {
    font-size: 25px;
    width: 100%;
    margin-top: 20%;
  }

  .features-description {
    font-size: 16px;
    width: 95%;
    margin-top: 10%;
  }

  .features-card {
    width: 90%;
    margin-left: 5%;
  }

  .features-card-interface {
    width: 90%;
    margin-left: 5%;
  }

  .features-img-heading {
    font-size: 20px;
  }

  .features-img-description {
    font-size: 16px;
  }

  .container-footer {
    padding: 15px;
  }

  .footer {
    text-align: center;
    padding: 8px 0;
  }

  .footer-flex {
    margin-top: -10px;
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: center;
  }
}
